*, *::after, *::before {
  font-family: 'Rubik', sans-serif;
}

body {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(90deg, #152331 0%, #000000 100%);
  min-height: 100vh;
}

.container {
  margin: 0 auto;
}

.d-flex {
  display: flex !important;
}

.ai-center {
  align-items: center !important;
}

.jc-between {
  justify-content: space-between !important;
}

.fd-column {
  flex-direction: column !important;
}

.fd-row {
  flex-direction: row !important;
}

.w-100 {
  width: 100% !important;
}

.h-50 {
  height: 50% !important;
}

.ta-center {
  text-align: center !important;
}

.border-bottom {
  border-bottom: 1px solid #FEFEFE;
}

.mb-resp-80 {
  margin-bottom: clamp(30px, 4vh, 80px);
}

.mt-resp-80 {
  margin-top: clamp(30px, 4vh, 80px);
}

.pb-resp-80 {
  padding-bottom: clamp(30px, 4vh, 80px);
}

.pb-12 {
  padding-bottom: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.bb-1 {
  border-bottom: 1px solid #fefefe;
}

.question {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 500px) {
    width: 100%;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 500px) {
      width: 90%;
      gap: 30px;
      flex-wrap: wrap;
      margin: 0 auto;
    }

    @media screen and (max-width: 375px) {
      gap: 15px;
    }
  }

  &__item {
    width: 345px;
    height: 345px;
    border-radius: 32px;
    position: relative;
    transition: ease-in-out filter 0.15s;

    @media screen and (max-width: 500px) {
      width: 150px;
      height: 180px;
    }

    @media screen and (max-width: 375px) {
      width: 100%;
      height: 120px;
    }

    @media screen and (max-height: 810px) {
      height: 70px;
    }

    &.active {
        filter: brightness(0.7);
    }

    &:not(:last-child) {
      margin-right: 20px;

      @media screen and (max-width: 500px) {
        margin-right: 0;
      }
    }

    &:nth-child(1) {
      background-color: #F2994A;
    }
    &:nth-child(2) {
      background-color: #F2C94C;
    }
    &:nth-child(3) {
      background-color: #219653;
    }
    &:nth-child(4) {
      background-color: #9B51E0;
    }

    &:hover {
      filter: brightness(0.7);
    }
  }

  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #FEFEFE;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (max-width: 500px) {
      font-size: 36px;
    }

    @media screen and (max-width: 375px) {
      font-size: 18px;
    }
  }

  &__number {
    position: absolute;
    top: 26px;
    right: 36px;
    padding: 4px 8px;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #FEFEFE;
    border: 1px solid #fff;
    border-radius: 8px;

    @media screen and (max-width: 500px) {
      right: 12px;
      top: 12px;
      font-size: 12px;
    }
  }

  &__ask {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #FEFEFE;

    @media screen and (max-width: 500px) {
      font-size: 18px;
      line-height: 1.1;
    }
  }

  &__fractions {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    left: 50%;
    top: -35%;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #FEFEFE;
    transform: translateX(-50%);

    @media screen and (max-width: 500px) {
      top: -25%;
    }
    @media screen and (max-width: 375px) {
      top: -10%;
    }
  }
}
