body {
  background: center/ cover no-repeat url('../assets/images/first-slide.jpg');
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex !important;
}

.ai-center {
  align-items: center !important;
}

.jc-between {
  justify-content: space-between !important;
}

.fd-column {
  flex-direction: column !important;
}

.fd-row {
  flex-direction: row !important;
}
